.App {
  text-align: center;
  background-color: #181725;
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

.header {
  margin-top: 20px;
  background-color: #181725;
  color: rgb(233, 75, 128);
  font-size: 50px;
  font-weight: 700;
  font-family: "Permanent Marker", cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.radius {
  border-radius: 1rem;
}

input {
  margin: 0;
}

input:focus {
  outline: none;
}

input[type="text"] {
  background-color: #33314e;
  border: 0;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  color: #6b7986;
  font-weight: 800;
  font-size: 2rem;
  width: 100%;
  background-image: url("/public/images/search.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: #33314e;
}

.movies {
  margin-top: 50px;
}

.movie {
  flex-grow: 2;
  display: flex;
  color: #fefefe;
  margin-bottom: 1rem;
}

.movie-Poster {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.movie-error {
  height: 400px;
  width: 400px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: url("/public/images/images_error.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.movie-info-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #201f2f;
  overflow: hidden;
}

.movie-info-class:hover {
  background: rgba(207, 13, 65, 0.4);
}

.movie-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.movie-year {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.movie-type {
  font-weight: 700;
  font-size: 1.25rem;
}

.movie-button {
  background-color: #201f2f;
  font-size: large;
  font-weight: 700;
  width: "300px";
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}

.movie-button:hover {
  cursor: pointer;
  /* color: black; */
  /* background-color: #f40; */
}

.empty-search-word {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
}
